<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-1 col-xs-offset-1">
        <div class="contact-line"></div>
        <p>Escríbenos <br />
          {{ site.email }}</p>
      </div>
      <div class="col-xs-1 col-sm-4 col-xs-offset-4 col-sm-offset-4 text-right">
        <p>
          Alemania: Lohmühlenstraße 65, 12435, Berlin.
        </p>
         <p>
          Chile: Avenida Manquehue Sur No. 520, oficina 205, Santiago.
        </p>
         <p>
         Colombia: Calle 81 No. 11-08, Piso 5°, Bogotá.
        </p>
        <p>
          Estados Unidos: 295 Lafayette Street, New York, NY.
        </p>
      </div>
    </div>
  </div>

</footer>
