<header class="container">
  <?php
  header("Status: 301 Moved Permanently");
  header("Location: https://www.2811global.com");
  exit;
  ?>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <a href="/"><img src="{{ "assets/images/logos/2811.png" | relative_url }}" class="branding" alt="{{ site.title }}" /></a>
    </div>
    <div class="col-xs-7">
      <nav role="navigation" id="nav">
        <input class="trigger" type="checkbox" id="mainNavButton">
        <label for="mainNavButton" onclick></label>
        <ul>
          <li><a href="/somos">Somos</a></li>
          <li><a href="/proyectos">Proyectos</a></li>
          <li><a href="/commons-latam">Commons Latam</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
