---
layout: default
---

<section class="container" id="big-description">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-1">
      <h1>Buscamos los cambios del presente para un futuro <span id="change">sostenible.</span></h1>
      <div class="line"></div>
    </div>
  </div>
</section>

<section class="container-fluid" id="small-description">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <h2>Un futuro más coherente con el desarrollo humano y los límites planetarios</h2>
    </div>
  </div>
</section>
